{% extends "base.html" %}
{% block title %}about us{% endblock %}
{% block header %}
<style>
    header{
        background-color: rgb(214, 226, 43);
    }
    body{
        background-color: aqua;
        
        
        
    }
    h1{
        color: green;
    }
    p{
        color: rgb(36, 180, 0);
        font-weight: bolder;
        font-size: 40px;
        text-align: center;
    }
    
</style>
<h1>We are the leading exotic and local food providers in qatar</h1>
{% endblock %}
{% block body %}
<p >The house qater, we are the unparalled both local and international
     food providers with the state of the art dine which is unique to 
     give you confirt during your stay at our restaurant</p>
{% endblock %}